# Python
__pycache__/
*.py[cod]
venv/
.venv/
.pytest_cache/

# Environment
.env
.flaskenv

# Database
*.db
*.sqlite3
instance/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Node
node_modules/
dist/
dist-ssr/
*.local
.vite/

# Logs
*.log
npm-debug.log*