# Python
__pycache__/
*.py[cod]
venv/
.venv/

# Environment
.env
.flaskenv

# Database
*.db
*.sqlite3
instance/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Node (na później, dla frontu)
node_modules/
dist/
dist-ssr/
*.local
.vite/